<!-- AccountEditorPageCtrl -->
<div class="dashboard" layout="column" flex>

	<div flex layout="column" ng-cloak>

		<md-toolbar class="section-header">
			<div class="md-toolbar-tools">
				<h2>
					<span>
						<md-icon>supervisor_account</md-icon>&nbsp;
						<a ng-href="#/accounts">Account Manager</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;Create
					</span>
				</h2>
				<span flex></span>
			</div>
		</md-toolbar>

		<md-content layout="row" style="background-color: inherit;">

			<md-card flex>
				<md-card-content>
					<h2>Create Account</h2>

					<md-input-container class="md-block">
						<label>Name - e.g. admin</label>
						<input ng-model="account.name">
					</md-input-container>

					<md-input-container class="md-block">
						<label>Password</label>
						<input type="password" ng-model="account.pw">
					</md-input-container>

					<p style="color: red;" ng-show="errorText != null">
						Error: {{errorText}}
					</p>
				</md-card-content>
				<md-card-actions layout="row" layout-align="end center">
					<md-button ng-click="send(account)" class="md-raised md-primary">CREATE</md-button>
				</md-card-actions>
			</md-card>


		</md-content>

	</div>

	</div>

</div>
<!---->
