<!-- DashboardPageCtrl -->
<div class="dashboard" layout="column" flex>

	<div flex layout="column" ng-cloak>

		<md-toolbar class="section-header">
			<div class="md-toolbar-tools">
				<h2>
					<span>Notifications</span>
				</h2>
			</div>
		</md-toolbar>
		<md-content class="transparent-content" flex layout="column">

			<md-list>
				<md-subheader class="md-no-sticky">New devices available</md-subheader>

				<md-list-item ng-repeat="device in unapprovedDevices" ng-click="approveDevice(device, $event)">
					<md-icon style="margin-top: 10px;">developer_board</md-icon>
					<p>
						{{device.name}}&nbsp;&nbsp;
						<small>(ID: {{device.id}})</small>
						&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp; Would you approve this device?
					</p>
					<md-icon ng-click="deleteUnapprovedDevice(device.id, $event)" aria-label="Delete this unapproved device">delete</md-icon>
				</md-list-item>

			</md-list>

		</md-content>

	</div>

	<div flex layout="column" ng-cloak>

		<md-toolbar class="section-header">
			<div class="md-toolbar-tools">
				<h2>
					<span>Online Devices</span>
				</h2>
			</div>
		</md-toolbar>
		<md-content layout="row" layout-xs="column" style="background-color: inherit;">

			<md-card ng-if="onlineDevices.length == 0" flex>
				<md-card-content>
					There is not an online device.
				</md-card-content>
			</md-card>

			<md-card ng-repeat="device in onlineDevices" flex ng-class="{'status-active' : device.isConnected}">
				<md-card-content>
					<h3>
						<md-icon>developer_board</md-icon>&nbsp;&nbsp;
						<span title="{{device.deviceTypeName}} (ID: {{device.deviceTypeId}})">
							{{device.deviceTypeBaseName}}
						</span> / {{device.name}}&nbsp;&nbsp;&nbsp;&nbsp;
						<small class="sub">(ID: {{device.id}})</small>
					</h3>

					<p>
						Type: {{device.deviceTypeBaseName}} / {{device.deviceTypeName}} (ID: {{device.deviceTypeId}})
					</p>
					<p>
						Created on {{device.createdAt | date : 'medium'}}
					</p>
					<p>
						Approved by
						<a ng-href="/#/accounts/{{device.approvedAccountId}}" target="_blank">{{device.approvedAccountName}} (ID: {{device.approvedAccountId}})</a>
						on {{device.approvedAt | date : 'medium'}}
					</p>
					<p>
						Last Connected on
						<span ng-if="device.lastConnectedAt == null">N/A</span>
						<span ng-if="device.lastConnectedAt != null && !device.isConnected">{{device.lastConnectedAt | date : 'medium'}}</span>
						<span ng-if="device.lastConnectedAt != null && device.isConnected">Just Now
							<small>from {{device.lastConnectedAt | date : 'medium'}}, IP: {{device.ipAddress}}</small></span>
					</p>

				</md-card-content>
			</md-card>

		</md-content>

	</div>

	</div>

</div>
<!---->
