<!-- DashboardPageCtrl -->
<div class="dashboard" layout="column" flex>

	<div flex layout="column" ng-cloak>

		<md-toolbar class="section-header">
			<div class="md-toolbar-tools">
				<h2>
					<span>Notifications</span>
				</h2>
			</div>
		</md-toolbar>
		<md-content class="transparent-content" flex layout="column">

			<md-list>

				<md-subheader ng-if="unapprovedDevices.length == 0" class="md-no-sticky">
					There is no notification. Have a nice day :)
				</md-subheader>

				<md-subheader ng-if="0 < unapprovedDevices.length" class="md-no-sticky">New devices available</md-subheader>
				<md-list-item ng-repeat="device in unapprovedDevices" ng-click="approveDevice(device, $event)">
					<md-icon style="margin-top: 10px;">developer_board</md-icon>
					<p>
						{{device.name}}&nbsp;&nbsp;
						<small>(ID: {{device.id}})</small>
						&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp; Would you approve this device?
					</p>
					<md-icon ng-click="deleteUnapprovedDevice(device.id, $event)" aria-label="Delete this unapproved device">delete</md-icon>
				</md-list-item>

			</md-list>

		</md-content>

	</div>

	<div flex layout="column" ng-cloak>

		<md-toolbar class="section-header">
			<div class="md-toolbar-tools">
				<h2>
					<span>Online Devices</span>
				</h2>
			</div>
		</md-toolbar>
		<md-content layout="row" layout-xs="column" style="background-color: inherit;">

			<md-card ng-if="onlineDevices.length == 0" flex>
				<md-card-content>
					There is not an online device.
				</md-card-content>
			</md-card>

			<md-card ng-repeat="device in onlineDevices" flex ng-class="{'status-active' : device.isConnected}">
				<md-card-content>

					<h3 style="margin-bottom: 2px;">
						<md-icon>developer_board</md-icon>&nbsp;&nbsp;
						<span title="{{device.deviceTypeName}} (ID: {{device.deviceTypeId}})">
							{{device.deviceTypeBaseName}}
						</span> / {{device.name}}&nbsp;&nbsp;&nbsp;&nbsp;
						<small class="sub">(ID: {{device.id}})</small>
					</h3>

					<div layout="row">

						<div flex>
							<h5>Type</h5>
							<p>
								<small>{{device.deviceTypeName | substring : 0 : 20}} (ID: {{device.deviceTypeId}})</small>
							</p>
						</div>

						<div flex>
							<h5>Connected</h5>
							<p>
								<small>
									{{device.lastConnectedAt | date : 'medium'}}<br/>
									{{device.ipAddress}}
								</small>
							</p>
						</div>

						<div flex>
							<h5>Approved</h5>
							<p>
								<a ng-href="/#/accounts/{{device.approvedAccountId}}" target="_blank">
									{{device.approvedAccountName}}
									<small>(ID: {{device.approvedAccountId}})</small></a><br/>
								<small>{{device.approvedAt | date : 'medium'}}</small>
							</p>
						</div>

					</div>

				</md-card-content>
			</md-card>

		</md-content>

	</div>

	<!-- Update information -->
	<div flex layout="column" ng-cloak>
		<small style="color: gray; text-align: right; margin: 1rem 1rem 0 0;" ng-if="errorText == null">
			Updated on {{updatedAt | date : 'medium'}}
		</small>
		<small style="color: red; text-align: right; margin: 1rem 1rem 0 0;" ng-if="errorText != null">
			Could not update:&nbsp;&nbsp;{{errorText}}
		</small>
	</div>
	<!---->

</div>
<!---->
