<!-- DevicesPageCtrl -->
<div layout="column" flex>
	<div flex layout="column" ng-cloak>

		<md-toolbar class="section-header">
			<div class="md-toolbar-tools">
				<h2>
					<span><md-icon>developer_board</md-icon>&nbsp;&nbsp;Device Manager</span>
				</h2>
				<span flex></span>
				<md-button ng-href="#/devices/new" class="md-raised md-primary pull-right">Register Device</md-button>
			</div>
		</md-toolbar>

		<md-content layout="row" layout-xs="column" style="background-color: inherit;">

			<md-card flex="50" ng-repeat="device in devices" ng-class="{'status-active' : device.isConnected}">
				<md-card-content>
					<h3 style="margin-bottom: 2px;">
						<md-icon>developer_board</md-icon>&nbsp;&nbsp;
						<span title="{{device.deviceTypeName}} (ID: {{device.deviceTypeId}})">
							{{device.deviceTypeBaseName}}
						</span> / {{device.name}}&nbsp;&nbsp;&nbsp;&nbsp;
						<small class="sub">(ID: {{device.id}})</small>
					</h3>

					<div layout="row">

						<div flex>
							<h5>Type</h5>
							<p>
								<small>{{device.deviceTypeName | substring : 0 : 20}} (ID: {{device.deviceTypeId}})</small>
							</p>
						</div>

						<div flex>
							<h5>Created</h5>
							<p>
								<small>{{device.createdAt | date : 'medium'}}</small>
							</p>
						</div>

						<div flex>
							<h5>Connected</h5>
							<p ng-if="device.lastConnectedAt == null">N/A</p>
							<p ng-if="device.lastConnectedAt != null && !device.isConnected">{{device.lastConnectedAt | date : 'medium'}}</p>
							<p ng-if="device.lastConnectedAt != null && device.isConnected">
								<span style="color: green;">Online</span><br/>
								<small>
									{{device.lastConnectedAt | date : 'medium'}}<br/>
									{{device.ipAddress}}
								</small>
							</p>
						</div>

						<div flex>
							<h5>Approved</h5>
							<p>
								<a ng-href="/#/accounts/{{device.approvedAccountId}}" target="_blank">
									{{device.approvedAccountName}}
									<small>(ID: {{device.approvedAccountId}})</small></a><br/>
								<small>{{device.approvedAt | date : 'medium'}}</small>
							</p>
						</div>

					</div>

				</md-card-content>
				<md-card-actions layout="row" layout-align="end center" style="margin-top: 0px;">
					<md-button ng-href="/#/devices/{{device.id}}" class="md-icon-button" aria-label="Edit this device">
						<md-icon>edit</md-icon>
					</md-button>
					<md-button ng-click="deleteDevice(device.id)" class="md-icon-button" aria-label="Delete this device">
						<md-icon>delete</md-icon>
					</md-button>
				</md-card-actions>
			</md-card>

		</md-content>

	</div>
</div>
<!---->
