<!-- TokensPageCtrl -->
<div class="dashboard" layout="column" flex>

	<div flex layout="column" ng-cloak>

		<md-toolbar class="section-header">
			<div class="md-toolbar-tools">
				<h2>
					<span><md-icon>vpn_key</md-icon>&nbsp;API Tokens</span>
				</h2>
				<span flex></span>
				<md-button class="md-raised md-primary pull-right">Create Token</md-button>
			</div>
		</md-toolbar>

		<md-content layout="row" layout-xs="column" style="background-color: inherit;">

			<md-card flex style="border-bottom: 2px solid green;">
				<md-card-content>
					<h3><md-icon>vpn_key</md-icon>&nbsp;&nbsp;ABCDEFG</h3>
					<p>
						Last connected: Just Online
					</p>
				</md-card-content>
				<md-card-actions layout="row" layout-align="end center">
					<md-button class="md-icon-button" aria-label="Edit this device">
						<md-icon>edit</md-icon>
					</md-button>
					<md-button class="md-icon-button" aria-label="Explore commands of this device">
						<md-icon>touch_app</md-icon>
					</md-button>
				</md-card-actions>
			</md-card>

		</md-content>

	</div>

	</div>

</div>
<!---->
