<!-- TokenEditorPageCtrl -->
<div flex layout="column">
	<div flex layout="column" ng-cloak>

		<md-toolbar class="section-header">
			<div class="md-toolbar-tools">
				<h2>
					<span>
						<md-icon>vpn_key</md-icon>&nbsp;
						<a ng-href="#/tokens">API Tokens</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;
						<span ng-if="apiToken.id == null">Create</span>
						<span ng-if="apiToken.id != null">Edit</span>
					</span>
				</h2>
				<span flex></span>
			</div>
		</md-toolbar>

		<md-content layout="row" style="background-color: inherit;">
			<md-card flex>

				<md-card-content>

					<!-- Captions for New Item -->
					<div ng-if="apiToken.id == null || apiToken.token != null">
						<h2>Create API Token</h2>
						<p ng-if="apiToken.token == null">
							Create the API Token for the External Web Services / Applications.<br/><br/>
						</p>
					</div>
					<p ng-if="apiToken.token != null">
						API Token for {{apiToken.name}} has been created.<br/><br/>
						Please keep the following API Token string.
						You can't view the token again.<br/></br/>
					</p>
					<!---->

					<!-- Captions for Existing Item -->
					<div ng-if="apiToken.token == null && apiToken.id != null">
						<h2>Edit the {{apiToken.name}}&nbsp;&nbsp;&nbsp;(ID: {{apiToken.id}})</h2>
					</div>
					<!----->

					<md-input-container class="md-block" ng-if="apiToken.token == null">
						<label>Name&nbsp;&nbsp;-&nbsp;&nbsp;Please fill the easily identifiable name</label>
						<input ng-model="apiToken.name" placeholder="e.g. slack-0">
					</md-input-container>

					<md-input-container class="md-block" ng-if="apiToken.token == null">
						<p>Option - Scope</p>
						<md-radio-group ng-model="apiToken.scope" ng-if="apiToken.token == null">
							<md-radio-button value="ALL" class="md-primary">
								ALL&nbsp;&nbsp;&nbsp;&nbsp;
								<small>It allows manipulate the server as same level with Control Panel.
									CAUTION: It also means it has a permission same with <i>Device API</i>.</small>
							</md-radio-button>
							<md-radio-button value="DEVICE_API">
								Device API&nbsp;&nbsp;&nbsp;&nbsp;
								<small>It allows access (Read or Execution of Device Commands) to the connected devices.</small>
							</md-radio-button>
						</md-radio-group>
					</md-input-container>

					<md-input-container class="md-block" ng-if="apiToken.token != null">
						<label>API Token for {{apiToken.name}}</label>
						<input readonly="true" value="{{apiToken.token}}">
					</md-input-container>

					<p style="color: red;" ng-show="errorText != null">
						Error: {{errorText}}
					</p>

				</md-card-content>

				<md-card-actions layout="row" layout-align="end center">
					<md-button ng-if="apiToken.id == null" ng-click="send(apiToken)" class="md-raised md-primary">CREATE</md-button>
					<md-button ng-if="apiToken.token == null && apiToken.id != null" ng-click="send(apiToken)" class="md-raised md-primary">UPDATE</md-button>
					<md-button ng-if="apiToken.token != null && apiToken.id != null" ng-href="/#/tokens" class="md-raised md-primary">DONE</md-button>
				</md-card-actions>

			</md-card>
		</md-content>

	</div>
</div>
<!---->
