<!-- TokenEditorPageCtrl -->
<div flex class="dashboard" layout="column">
	<div flex layout="column" ng-cloak>

		<md-toolbar class="section-header">
			<div class="md-toolbar-tools">
				<h2>
					<span>
						<md-icon>vpn_key</md-icon>&nbsp;
						<a ng-href="#/tokens">API Tokens</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;Create
					</span>
				</h2>
				<span flex></span>
			</div>
		</md-toolbar>

		<md-content layout="row" style="background-color: inherit;">

			<md-card flex>
				<md-card-content>
					<h2>Create API Token</h2>

					<p ng-if="apiToken.token == null">
						Create the API Token for a device.<br/><br/>
					</p>

					<p ng-if="apiToken.token != null">
						API Token for {{apiToken.name}} has been created.<br/><br/>
						Please keep the following API Token string.
						You can't view the token again.<br/></br/>
					</p>

					<md-input-container class="md-block" ng-if="apiToken.token == null">
						<label>Name&nbsp;&nbsp;-&nbsp;&nbsp;Please fill the easily identifiable name</label>
						<input ng-model="apiToken.name" placeholder="e.g. signage-0">
					</md-input-container>

					<md-input-container class="md-block" ng-if="apiToken.token != null">
						<label>API Token for {{apiToken.name}}</label>
						<input readonly="true" value="{{apiToken.token}}">
					</md-input-container>

					<p style="color: red;" ng-show="errorText != null">
						Error: {{errorText}}
					</p>
				</md-card-content>
				<md-card-actions layout="row" layout-align="end center">
					<md-button ng-if="apiToken.token == null" ng-click="send(apiToken)" class="md-raised md-primary">CREATE</md-button>
					<md-button ng-if="apiToken.token != null" ng-href="/#/tokens" class="md-raised md-primary">DONE</md-button>
				</md-card-actions>
			</md-card>


		</md-content>

	</div>
</div>
<!---->
