<!-- TokensPageCtrl -->
<div class="dashboard" layout="column" flex>
	<div flex layout="column" ng-cloak>

		<md-toolbar class="section-header">
			<div class="md-toolbar-tools">
				<h2>
					<span><md-icon>vpn_key</md-icon>&nbsp;&nbsp;API Tokens</span>
				</h2>
				<span flex></span>
				<md-button ng-href="#/tokens/new" class="md-raised md-primary pull-right">Create API Token</md-button>
			</div>
		</md-toolbar>

		<md-content layout="column" layout-xs="column" style="background-color: inherit;">

			<md-card flex ng-repeat="apiToken in apiTokens" style="border-bottom: 2px solid green;">
				<md-card-content>
					<h3>
						<md-icon>vpn_key</md-icon>&nbsp;&nbsp;
						{{apiToken.name}}
						<small class="sub">(ID: {{apiToken.id}})</small>
					</h3>
					<p>
						Created date: {{apiToken.createdAt | date : 'medium'}}<br/>
					</p>
				</md-card-content>
				<md-card-actions layout="row" layout-align="end center">
					<md-button class="md-icon-button" aria-label="Delete this token">
						<md-icon>delete</md-icon>
					</md-button>
				</md-card-actions>
			</md-card>

		</md-content>

	</div>
</div>
<!---->
